.btn {
  font-size: 1.2rem;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.6s;
  text-decoration: none;
  font-family: "Pixelify Sans";
  background: transparent;
  opacity: 1;
  border: 2px solid black;
  text-align: center;
  color: #bb86fc;
  width: 600px; /* Increased width */
  height: 200px; /* Increased height */
  padding: 150px;
  margin: 10px;
  position: relative;
}

input[type="radio"] {
  display: none; /* Hide the actual radio button */
}

input[type="radio"]:checked + .btn {
  background-color: rgb(100, 100, 100); /* Style for selected button */
  border-color: transparent; /* Match the border color */
  color: black;
}

.btn:hover {
  border: 2px solid black;
}

.btn2 {
  font-size: 2rem;
  padding: 40px 10px 80px 15px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.6s;
  margin: auto;
  text-decoration: none;
  font-family: "Pixelify Sans";
  background: black;
  text-align: center;
  opacity: 1;
  display: block;
}

.btn2:active {
  scale: 0.92;
  box-shadow: 0px 0px 50px #bb86fc;
}

.btn2:hover {
  border: #000000;
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0px 0px 100px #bb86fc;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 50vh;
  transition: 0.6s;
  transform: translateX(0);
  font-family: "Pixelify Sans";
  text-transform: uppercase;
  font-size: 30px;
}

.splash.slide-right {
  transform: translateX(100%);
}

.splash.slide-center {
  transform: translateX(0);
}

.splash-text2 {
  font-family: "Pixelify Sans";
  text-transform: uppercase;
  font-size: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem; /* Ensure the container takes the full height of the viewport */
}

.radio-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
